.header {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.7);
  padding: 20px;
  background-color: rgb(135, 184, 248);
  color: aliceblue;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
