.nav {
  display: flex;
  gap: 24px;
}

.link {
  color: #fff;
  font-size: 26px;
  text-decoration: none;
  font-weight: 800;
  font-style: italic;
}

.active {
  color: #695ff9;
  text-decoration: underline;
}
