.list {
  list-style: inside;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: larger;
}

.text {
  font-weight: 500;
}

.content {
  color: #fff;
  padding: 10px;
  height: 740px;
}
