.list {
  list-style: inside;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: larger;
  color: #060258;
  font-size: 36px;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  color: #33389a;
}

.firstText {
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  margin-bottom: 24px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  color: #666;
  margin-bottom: 12px;
}

.content {
  text-align: center;
  margin-top: 50px;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.7),
    rgba(196, 233, 255, 0.7)
  );
}
